*{
  margin : 0px;
  padding: 0px;
  border-radius : 0px;
  font-size: 110%;
  box-sizing: border-box;
}
#root{
  text-align: center;
}

.calculator-title{
 color: green;
 background-color: #ffffff;
 font-size: 32px;
 width:400px;
 padding:10px 10px;
 border-radius:2px;
 border: 2px solid black;
 margin:0 auto;
 margin-top: 20px;
 margin-bottom: 20px;
}

.mainCalc{
  margin:0px;
  padding:0px;
  border-radius:0px;
  box-sizing: border-box;
}

.screen-row input{
  width: 400px;
  background:#ddd;
  color:#222;
  padding:10px;
  text-align:right;
  border:2px;
}

input[type="button"]{
  width:100px;
  background: #4caf50;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size:16px;
  border:1px solid #222;
  padding:10px 20px;
  display: inline-block;
}

input[type="button"]:active{
  background:#ccc;
}